:root {
    --black: #16161D;
    --otherBackground: #022639;
    --verydarkblue: #033651;
    --lighterverydarkblue: #1c4a62;
    --darkblue: #0d75ac;
    --blue: #4fb4e4;
    --lightbluegrey: #bac8de;
    --darkred: #792622;
    --brightred: #d42d34;
    --red: #a62224;
    --peachy: #f37977;
    --lightpink: #ec939c;
    --lighterpink: #ec939cb4;
    --white: #e6ebee;
    --grey: grey;
    --lightgrey: lightgrey;
    --lightergrey: rgb(237, 237, 237);
    --lightblue: lightblue;

}

/*Added to adjust the size of the acknowledgements logos*/
.creditImage {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  max-height: 120px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.simtkLogo {
  max-width: 180px;
}